body{
  background-color: rgb(255, 255, 255);
  font-family: Impact, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 3vh;
}

.score-box{
  display: flex;
  justify-content: end;
  flex: 1;
}

.selection-box{
  flex: 2;
}

.button-box{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10vw;
  margin-top: 15px;
  padding: 15px;
}

ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: center;
  margin: 15px;
}

.competitors-box{
  display: flex;
  flex: 2;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;

}

.outcome-box{
  text-align: center;
  flex: 1;
  justify-content: end;
  height: 6vh;
}

.computer-box,
.player-box{
  text-align: center;
  width: 50%;
  height: 50vh;

}

button{
  all: unset;
  transition: all .3s ease-out;
}

button:hover{
  transform: rotate(-90deg);
  transition: all .3s ease-out;
}

img {
  pointer-events: none;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

img{
  animation: fadeIn 1.1s;
}

#comp-img{
  transform: rotateY(180deg);
}
